@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

body {
  text-align: center;
  background-color: #e2e2e2;
  font-family: arial;

}

a {
  padding: 5px;
}

h2{
  font-family: 'Lobster', cursive;
  font-size: 30px;
}

h1{
  font-family: 'Lobster', cursive;
  font-size: 30px;
  color: #9fa8da;
}

.App{
  position: relative;
  min-height: 100vh;
}

.header{
  font-family: 'Lobster', sans-serif;
  font-size: 30px;
  background-color: #629677;
}

.App-link {
  color: #bbb5c3;
}

.footer{
    position: absolute;
    font-family: arial;
    bottom: 0;
    text-align: center;
    background-color: #629677;
    left: 0;
    right: 0;
    width: 100%;
    height: 40px;
}

.quiz{
  font-family:'IBM Plex Sans', sans-serif;
  margin-top: 60px;
}

.alexandersucks{
  margin-top: 100px;
  height: 100vh;
}

.alexandersucks a{
  text-decoration: none;
}

.lovehan{
  position: relative;
  top: 30%;  
  width: 20px;
  margin: 0 auto;
  border-right: 2px solid rgba(255,255,255,.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);    
}

.lovenote{
  margin-top: 60px;
}

/* Animation */
.anim-typewriter{
animation: typewriter 4s steps(44) 1s 1 normal both,
           blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
from{width: 0;}
to{width: 24em;}
}
@keyframes blinkTextCursor{
from{border-right-color: rgba(255,255,255,.75);}
to{border-right-color: transparent;}
}

@media screen and (max-width: 767px) {
  .techdiv{
    font-size: 5px;
  }
  
}
