@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Rancho&display=swap');

body {
  text-align: center;
  background-color: #e2e2e2;
  font-family: arial;

}

a {
  padding: 5px;
}
.App-header {
  background: url(./img/flowerbg.png);
  /*background-color: #ede7f6;*/
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Fredericka the Great';
  font-size: calc(30px + 2vmin);
  color: #000000;
}

.typewriter h1 {
  color: #000000;
  font-family: arial;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .1em; /* Adjust as needed */
  animation: 
    typing 3s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 15% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black }
}

.Projects{
  background-color: #e2e2e2;
  padding-top: 15px;
  height: 100vh;
  font-family: arial;
}

.Projects a:link{
  text-decoration: none;
  color:black;
}

.Projects a:visited{
  color: black;
}

.Projects p{
  width: 50vw;
  background-color: #9fa8da;
  padding: 5px;
  border-radius: 10%;
}
.Projects a:hover{
  color:#ce93d8;
}

.About{
  padding-top: 15px;
  height: 100vh;
  font-family: arial;
  width: 50vw;
  text-align: justify;
}

.Contact a:link{
  text-decoration: none;
  color:black;
}

.Contact{
  background-color: #e2e2e2;
  padding-top: 15px;
  height: 100vh;
}

.Contact a:visited{
  color: black;
}

.Contact a:hover{
  color:#ce93d8;
}

.App-link {
  color: #bbb5c3;
}

.projImg{
  border-radius: 60px;
  height: 300px;
}

.gitImage{
  width: 50px;
  height: 50px;
}

.subtext{
  font-size: 25px;
  font-family: arial;
  margin-top: -15px;
}

.nav {
	font-size: 40px; 
}

.nav li {
	float: left;
  font-size: 20px;
  font-family: arial;}

.nav li a {
		display: block;
		padding: 8px 15px;
		text-decoration: none;
		color: #000000;
		border-right: 1px solid #ccc; }

.nav li a {
		display: block;
		padding: 8px 15px;
		text-decoration: none;
		font-weight: bold;
		color: #bbb5c3;
		border-right: 1px solid #ccc; }

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #e2e2e2;
}