@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Rancho&display=swap');

.App {
  text-align: center;
}

a {
  padding: 5px;
}
.App-header {
  background-color: #7c7c7c;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Fredericka the Great';
  font-size: calc(30px + 2vmin);
  color: white;
}

.Projects{
  background-color: #92dce5;
  padding-top: 15px;
}

.App-link {
  color: #61dafb;
}

.projImg{
  border-radius: 60px;
  height: 300px;
}

.gitImage{
  width: 50px;
  height: 50px;
}

#nav {
	width: 100%;
	float: left;
	padding: 0;
	list-style: none; }
#nav li {
	float: left;
  font-size: 20px;
  font-family: arial;}

#nav li a {
		display: block;
		padding: 8px 15px;
		text-decoration: none;
		color: #52dee5;
		border-right: 1px solid #ccc; }

#nav li a {
		display: block;
		padding: 8px 15px;
		text-decoration: none;
		font-weight: bold;
		color: #52dee5;
		border-right: 1px solid #ccc; }